.main {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.main-1 {
    width: 50%;
    height: 100%;

    position: relative;
    background-color: #1b1e2b;
    color: white;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    border: 4px solid #1b1e2b;
    border-right: 10px solid #1b1e2b;
}

.main-header {
    width: 100%;
    height: 30px;
    position: relative;

    border-bottom: 1px solid black;
    box-shadow: 1px 1px black;
}

.main-header-filename {
    text-align: center;
    font-size: 12px;
    line-height: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-header-bsx {
    position: absolute;
    right: 0%;
    cursor: pointer;
    width: 50px;
}

.main-header-bsx:hover {
    background-color: red;
}

.main-header-bsf {
    position: absolute;
    right: 50px;
    cursor: pointer;
    width: 50px;
}

.main-header-bsf:hover {
    background-color: red;
}

.main-editor {
    width: 100%;
    height: 800px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.main-editor::after {
    content: "";
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    cursor: ns-resize;
}

.output-editor {
    width: 100%;
    height: 10px;

    flex: 1;
}
